.SkillListItem {
    list-style: none;
    margin: 1vmin auto;
    padding: 0.5vmin;
    border: 0.5vmin solid rgb(40, 44, 52);
    border-radius: 0.5rem;
    font-size: 2vmin;
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SkillListItem-level{
    font-size: 1.2vmin;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: #61DAFB;
    text-transform: uppercase;
    border-radius: 1.5rem;
    width: 7vmin;
    height: 3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}